.App {
  text-align: center;
}


#loginArea {
  background-image: url(./images/BannerPhoto1.gif);
  height: 1020px;
  background-size: cover;
  background-position: center;
}

#headerLogo {
  width: 100%;
  padding-top: 410px;
}

#imageLogo {
  width: 40%;
  height: auto;
}

#registerB {
  margin: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 0;
  color: black;
  width: 300px;
}

#loginB {
  margin: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 0;
  color: black;
  width: 300px;
}

#subscDiv {
  text-align: right;
  padding: 0px;
}

#loginDiv {
  text-align: left;
  padding: 0px;
}

#navArea {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

#howTitle {
  margin-bottom: 20px;
}

#howTitle h1 {
  font-size: 60px;
}

#stepOne {
  border: 4px solid black;
  margin-bottom: 20px;
  
}

#stepTwo {
  border: 4px solid black;
  margin-bottom: 20px;
}

#stepThree {
  border: 4px solid black;
  margin-bottom: 20px;
}

.howItTitle {
  font-size: 35px;
}

.howItParagraph {
  font-size: 20px;
  line-height: 1.75;
}

#steps {
  margin-bottom: 140px;
}

.stashPic {
  width: 40%;
  height: auto;
  margin-bottom: 140px;
}

#stashImageContainer {
  padding: 13% 0px 13% 0px;
  background-image: url("./images/Stashes1.gif");
  background-position: center;
  background-size: 75% auto;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  
}


#stashTitleDiv h1 {
  font-size: 60px;
}

.stashText h1 {
  font-size: 100px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.stashText h2 {
  font-size: 80px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.stashText h3 {
  font-size: 50px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.stashText p {
  font-size: 35px;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  #subscDiv {
    text-align: center;
  }
  #loginDiv {
    text-align: center;
  }

  #loginArea{
    height: 980px;
  }

  .stashText h1 {
    font-size: 25px;

  }
  
  .stashText h2 {
    font-size: 20px;
  
  }
  
  .stashText h3 {
    font-size: 15px;
  }
  
  .stashText p {
    font-size: 13px;
  }

  #stashImageContainer {
    margin-bottom: 90px;
  }

}

@media only screen and (max-width: 479px) {
  #loginArea {
    height: 700px;
  }

  #headerLogo{
    padding-top: 290px;
  }
  .stashText h1 {
    font-size: 21px;
  }
  
  .stashText h2 {
    font-size: 17px;
  }
  
  .stashText h3 {
    font-size: 13px;
  }
  
  .stashText p {
    font-size: 11px;
  }

}