.App {
  text-align: center;
}


#loginArea {
  background-image: url(./images/BannerPhoto1.gif);
  height: 1020px;
  background-size: cover;
  background-position: center;
  
}

#headerLogo {
  width: 100%;
  padding-top: 20px;
}

#imageLogo {
  width: 40%;
  height: auto;
}

#registerB {
  margin: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 0;
  color: black;
  width: 300px;
}

#loginB {
  margin: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 0;
  color: black;
  width: 300px;
}

#subscDiv {
  text-align: right;
}

#loginDiv {
  text-align: left;
}

#navArea {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#howTitle {
  margin-bottom: 20px;
}

#stepOne {
  border: 4px solid black;
  margin-bottom: 20px;
}

#stepTwo {
  border: 4px solid black;
  margin-bottom: 20px;
}

#stepThree {
  border: 4px solid black;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  #subscDiv {
    text-align: center;
  }
  #loginDiv {
    text-align: center;
  }

  #loginArea{
    height: 250px;
  }
}